h1 {
  margin-top: 0;
  padding: .5rem;
  text-align: center;
  background-color: #003;
  color: white;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  align-items: center;
  justify-content: center;
}

.ship-div {
  background-color: #044;
  border-radius: .7rem;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  color: #fff;
  text-align: center
}

.ship-deet-div {
  background-color: #044;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:visited {
  color: #fff
}