h1 {
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  background-color: #003;
  color: white;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 2000px);
  margin: auto;
  align-items: center;
  justify-content: center;
}

.ship-div {
  background-color: #044;
  border-radius: .7rem;
  padding: 2.5rem 1rem;
  margin: 2rem;
  width: 20rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.ship-div:hover {
  padding: 3.5rem 2.5rem;
  margin: .5rem;
}

.ship-deet-div {
  background-color: #044;
  border-radius: .5rem;
  padding: 1rem 3rem;
  margin: 1rem;
  width: 30rem;
  color: #fff;
}

.ship-field {
  display: flex;
  justify-content: space-between;
}

.return:visited{
  color: #fff;
}

#deetz {
  display: flex;
  margin-top: 15rem;
  align-items: center;
}